html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  line-height: 1;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  cursor: pointer;
  border: none;
  outline: none;
  white-space: nowrap;
  text-align: center;
}
.button--primary {
  background-color: #f53838;
  color: white;
  font-weight: 700;
}
.button--outline {
  background-color: transparent;
  color: #f53838;
  font-weight: 500;
  border: 1px solid;
}
.button--rounded {
  border-radius: 10px;
  padding: 17px 77px;
}
.button--shadow {
  position: relative;
}
.button--shadow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 100%;
  transform: translate(-50%, 50%);
  background: rgba(245, 56, 56, 0.35);
  filter: blur(27px);
  border-radius: inherit;
}

.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0b132a;
  font-weight: 500;
}

.text-smal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-large {
  font-weight: 700;
}

.heading {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.4285714286;
  margin-bottom: 20px;
}

.header {
  padding-top: 50px;
  padding-bottom: 100px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.header-signin {
  color: #0b132a;
  font-weight: 500;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
  display: inline-block;
}

@media (hover: hover) {
  .menu-link {
    position: relative;
  }
  .menu-link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: auto;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #f53838;
    transition: all 0.2s linear;
  }
  .menu-link:hover {
    color: #f53838;
  }
  .menu-link:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
.hero {
  padding-bottom: 100px;
}
.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  width: 100%;
  max-width: 550px;
}
.hero-heading {
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 1.4;
}
.hero-desc {
  margin-bottom: 50px;
}
.hero-image {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(40px, -50%);
}

.intro {
  margin-bottom: 100px;
}
.intro-container {
  background-color: white;
  border-radius: 10px;
  padding: 37px 0;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 200px;
}
.intro-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 36.5px;
}
.intro-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
}
.intro-text {
  font-size: 20px;
  line-height: 1.5;
}

.feature {
  padding-bottom: 130px;
}
.feature-container {
  display: flex;
  align-items: flex-end;
  gap: 0 170px;
}
.feature-desc {
  margin-bottom: 23px;
}
.feature-list {
  list-style: none;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.plan {
  padding: 80px 0 30px;
  background: #f6f6f6;
}
.plan-header {
  max-width: 555px;
  text-align: center;
  margin: 0 auto 60px;
}
.plan-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0 50px;
  margin-bottom: 150px;
}
.plan-item {
  padding: 80px 68px 50px;
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s linear;
}
.plan-image img {
  margin: 0 auto 30px;
}
.plan-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.plan-details {
  list-style: none;
  margin-bottom: 50px;
}
.plan-info {
  display: flex;
  align-items: center;
  gap: 0 25px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 2.1428571429;
}
.plan-price {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: auto;
}
.plan-price span {
  font-weight: 400;
}
.plan .button {
  width: 100%;
}
.plan-item.is-active, .plan-item:hover {
  border-color: #f53838;
}
.plan-item.is-active .button, .plan-item:hover .button {
  background-color: #f53838;
  color: white;
}

.network-heading {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}
.network-image {
  margin-top: 155px;
}

/*# sourceMappingURL=index.css.map */
