html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  line-height: 1;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  cursor: pointer;
  border: none;
  outline: none;
  white-space: nowrap;
  text-align: center;
}
.button--primary {
  background-color: #f53838;
  color: white;
  font-weight: 700;
}
.button--outline {
  background-color: transparent;
  color: #f53838;
  font-weight: 500;
  border: 1px solid;
}
.button--rounded {
  border-radius: 10px;
  padding: 17px 77px;
}
.button--shadow {
  position: relative;
}
.button--shadow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 100%;
  transform: translate(-50%, 50%);
  background: rgba(245, 56, 56, 0.35);
  filter: blur(27px);
  border-radius: inherit;
}

.bg-gray {
  background: linear-gradient(180deg, #f8f8f8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}

.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0b132a;
  font-weight: 500;
}

.text {
  line-height: 1.875;
}

.text-small {
  font-size: 14px;
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-large {
  font-weight: 700;
}

.heading {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.4285714286;
  margin-bottom: 20px;
}

.heading-small {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6666666667;
}

.header {
  padding-top: 50px;
  padding-bottom: 100px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.header-signin {
  color: #0b132a;
  font-weight: 500;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
  display: inline-block;
}

@media (hover: hover) {
  .menu-link {
    position: relative;
  }
  .menu-link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: auto;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #f53838;
    transition: all 0.2s linear;
  }
  .menu-link:hover {
    color: #f53838;
  }
  .menu-link:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
.hero {
  padding-bottom: 100px;
}
.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  width: 100%;
  max-width: 550px;
}
.hero-heading {
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 1.4;
}
.hero-desc {
  margin-bottom: 50px;
}
.hero-image {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(40px, -50%);
}

.intro {
  margin-bottom: 100px;
}
.intro-container {
  background-color: white;
  border-radius: 10px;
  padding: 37px 0;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 200px;
}
.intro-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 36.5px;
}
.intro-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
}
.intro-text {
  font-size: 20px;
  line-height: 1.5;
}

.feature {
  padding-bottom: 130px;
}
.feature-container {
  display: flex;
  align-items: flex-end;
  gap: 0 170px;
}
.feature-desc {
  margin-bottom: 23px;
}
.feature-list {
  list-style: none;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.plan {
  padding: 80px 0 150px;
}
.plan-header {
  max-width: 555px;
  text-align: center;
  margin: 0 auto 60px;
}
.plan-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0 50px;
}
.plan-item {
  padding: 80px 68px 50px;
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s linear;
}
.plan-image img {
  margin: 0 auto 30px;
}
.plan-title {
  margin-bottom: 30px;
}
.plan-details {
  list-style: none;
  margin-bottom: 50px;
}
.plan-info {
  display: flex;
  align-items: center;
  gap: 0 25px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 2.1428571429;
}
.plan-price {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: auto;
}
.plan-price span {
  font-weight: 400;
}
.plan .button {
  width: 100%;
}
.plan-item.is-active, .plan-item:hover {
  border-color: #f53838;
}
.plan-item.is-active .button, .plan-item:hover .button {
  background-color: #f53838;
  color: white;
}

.network-heading {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}
.network-image {
  margin-top: 155px;
}

.partner {
  margin-bottom: 50px;
}
.partner-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 60px;
}

.customer .boxed {
  margin-bottom: 60px;
}
.customer .boxed .heading {
  max-width: 447px;
  margin-left: auto;
  margin-right: auto;
}
.customer-item {
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin: 0 25px;
  padding: 30px;
  min-height: 250px;
}
.customer-item.slick-current.slick-active {
  border-color: #f53838;
}
.customer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.customer-info {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.customer-avatar {
  width: 50px;
  height: 50px;
}
.customer-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.customer-name {
  margin-bottom: 5px;
}
.customer-name, .customer-address {
  line-height: 1;
}
.customer-rating {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.customer-desc {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.customer .slick-slide {
  width: 400px;
}
.customer .slick-track {
  display: flex;
  padding-bottom: 60px;
}
.customer .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  z-index: 10;
}
.customer .slick-prev {
  border: 1px solid #f53838;
  background-color: transparent;
  right: 80px;
}
.customer .slick-next {
  background-color: #f53838;
  border: none;
  right: 0;
}
.customer .slick-dots {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0 15px;
  transform: translateY(50%);
}
.customer .slick-dots button {
  font-size: 0;
  background-color: #dde0e4;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  border: none;
  transition: all 0.2s linear;
}
.customer .slick-dots .slick-active button {
  background-color: #f53838;
  width: 45px;
}

.subscribe {
  transform: translateY(50%);
}
.subscribe-container {
  background: white;
  border-radius: 10px;
  padding: 58px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 30px 114px 0 rgba(13, 16, 37, 0.06);
}
.subscribe-content {
  max-width: 370px;
}

.footer {
  padding-bottom: 100px;
  background-color: #f8f8f8;
  padding-top: 180px;
}
.footer-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 0 126px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-desc {
  margin-bottom: 30px;
}
.footer-heading {
  margin-bottom: 20px;
}
.footer-links {
  list-style-type: none;
}
.footer-item {
  margin-bottom: 10px;
}
.footer-link {
  color: inherit;
  line-height: 1.875;
}
.footer .social {
  display: flex;
  align-items: center;
  margin-left: -20px;
}
.footer .copyright {
  color: #afb5c0;
}

/*# sourceMappingURL=index.css.map */
