.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
  &-link {
    color: inherit;
    display: inline-block;
  }
  &-toggle {
    display: none;
    i {
      pointer-events: none;
      font-size: 35px;
      color: $heading-color;
      display: block;
    }
  }
  &-item--auth {
    display: none;
  }
}

@media (hover: hover) {
  .menu-link {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: auto;
      right: 0;
      width: 0;
      height: 3px;
      background-color: $primary-color;
      transition: all 0.2s linear;
    }
    &:hover {
      color: $primary-color;
      &::after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .menu {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 300px;
    gap: 10px 0;
    padding-top: 60px;
    z-index: 99;
    align-items: stretch;
    transform: translateX(100%);
    will-change: transform;
    transition: all 0.2s linear;
    &.is-show {
      transform: translateX(0);
    }
    &-link {
      display: block;
      width: 100%;
      padding: 20px;
    }
    &-toggle {
      display: inline-block;
    }
    &-item--auth {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 20px;
    }
  }
}
