.plan {
  padding: 80px 0 150px;
  &-header {
    max-width: 555px;
    text-align: center;
    margin: 0 auto 60px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0 50px;
  }
  &-item {
    padding: 80px 68px 50px;
    background: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s linear;
  }
  &-image img {
    margin: 0 auto 30px;
  }
  &-title {
    margin-bottom: 30px;
  }
  &-details {
    list-style: none;
    margin-bottom: 50px;
  }
  &-info {
    display: flex;
    align-items: center;
    gap: 0 25px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(30 / 14);
  }
  &-price {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: auto;
    span {
      font-weight: 400;
    }
  }
  .button {
    width: 100%;
  }
  &-item.is-active,
  &-item:hover {
    border-color: $primary-color;
    .button {
      background-color: $primary-color;
      color: white;
    }
  }
}
