.plan {
  padding: 80px 0 150px;
  &-header {
    margin-bottom: 60px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0 50px;
  }
  &-item {
    padding: 80px 68px 50px;
    background: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s linear;
  }
  &-image img {
    margin: 0 auto 30px;
  }
  &-title {
    margin-bottom: 30px;
  }
  &-details {
    list-style: none;
    margin-bottom: 50px;
  }
  &-info {
    display: flex;
    align-items: center;
    gap: 0 25px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(30 / 14);
  }
  &-price {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: auto;
    span {
      font-weight: 400;
    }
  }
  .button {
    width: 100%;
  }
  &-item.is-active,
  &-item:hover {
    border-color: $primary-color;
    .button {
      background-color: $primary-color;
      color: white;
    }
  }
}
@media screen and (max-width: 1023px) {
  .plan {
    padding: 50px 0;
    &-list {
      justify-content: flex-start;
      grid-auto-columns: 310px;
      grid-auto-flow: column;
      grid-gap: 0 30px;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      grid-template-columns: unset;
    }
    &-list::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &-list > * {
      scroll-snap-align: start;
    }
    &-item {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
